.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.content {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
